<robot
  name="car_urdf">

  <link name="base_footprint" />
  <joint name="joint_name" type="fixed">
    <origin xyz="0.0 0.0 0.097" rpy="0.0 0.0 0.0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <axis xyz="0.0 0.0 0.0"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
  </joint>
  
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00320323422954568 -1.33498790682185E-16 0.000993542681876572"
        rpy="0 0 0" />
      <mass
        value="0.860602941105724" />
      <inertia
        ixx="0.0104898977549483"
        ixy="2.20647979160319E-17"
        ixz="-0.000175424794449365"
        iyy="0.0174665757413704"
        iyz="5.60490727413283E-18"
        izz="0.0278001426316638" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="battery_link">
    <inertial>
      <origin
        xyz="1.7789E-18 4.2912E-17 0.0455"
        rpy="0 0 0" />
      <mass
        value="3.2508" />
      <inertia
        ixx="0.0073132"
        ixy="-7.9939E-19"
        ixz="8.7519E-19"
        iyy="0.021752"
        iyz="-2.1276E-19"
        izz="0.025058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/battery_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/battery_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="battery_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="battery_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="L_wheel_link">
    <inertial>
      <origin
        xyz="-8.6723E-20 -0.00030855 1.3161E-17"
        rpy="0 0 0" />
      <mass
        value="3.8671" />
      <inertia
        ixx="0.0081998"
        ixy="1.6625E-18"
        ixz="2.4652E-32"
        iyy="0.014115"
        iyz="-8.5827E-19"
        izz="0.0081998" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/L_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.097" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="L_wheel_joint"
    type="continuous">
    <origin
      xyz="0 0.143 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="L_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>
  <link
    name="R_wheel_link">
    <inertial>
      <origin
        xyz="1.385E-17 0.00030855 4.7538E-18"
        rpy="0 0 0" />
      <mass
        value="3.8671" />
      <inertia
        ixx="0.0081998"
        ixy="1.562E-18"
        ixz="1.2866E-18"
        iyy="0.014115"
        iyz="-9.7497E-19"
        izz="0.0081998" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/R_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.097" length="0.044"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_wheel_joint"
    type="continuous">
    <origin
      xyz="0 -0.143 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="R_wheel_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="front_shell_link">
    <inertial>
      <origin
        xyz="0.15936 -0.0062883 0.075774"
        rpy="0 0 0" />
      <mass
        value="0.6554" />
      <inertia
        ixx="0.023896"
        ixy="-5.4864E-05"
        ixz="0.00078448"
        iyy="0.0074984"
        iyz="-6.9315E-05"
        izz="0.024579" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/front_shell_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/front_shell_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_shell_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="front_shell_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="back_shell_link">
    <inertial>
      <origin
        xyz="-0.16922 0.00011316 0.077014"
        rpy="0 0 0" />
      <mass
        value="0.6953" />
      <inertia
        ixx="0.024817"
        ixy="-2.8403E-06"
        ixz="-0.00080187"
        iyy="0.0080182"
        iyz="5.0086E-06"
        izz="0.025755" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/back_shell_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/back_shell_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_shell_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="back_shell_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_1_link">
    <inertial>
      <origin
        xyz="8.1954E-05 -0.00028874 3.6488E-05"
        rpy="0 0 0" />
      <mass
        value="0.064282" />
      <inertia
        ixx="7.5434E-05"
        ixy="1.6431E-07"
        ixz="7.0898E-07"
        iyy="6.2277E-06"
        iyz="7.3154E-08"
        izz="7.4157E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/camera_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/camera_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_1_joint"
    type="fixed">
    <origin
      xyz="0.22558272211562 0 0.133506936243468"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="middle_shell_link">
    <inertial>
      <origin
        xyz="0.000969337821784328 2.73647386484321E-17 -0.00682267336944603"
        rpy="0 0 0" />
      <mass
        value="0.376095918062654" />
      <inertia
        ixx="0.00259446606580798"
        ixy="-1.28900084245828E-18"
        ixz="-1.73445712265835E-06"
        iyy="0.00534753991743343"
        iyz="5.95880677624065E-20"
        izz="0.00787333036863502" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/middle_shell_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/middle_shell_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="middle_shell_joint"
    type="fixed">
    <origin
      xyz="0 0 0.1705"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="middle_shell_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="pole_link">
    <inertial>
      <origin
        xyz="-1.65168928915213E-16 -4.47895159743383E-16 0.015"
        rpy="0 0 0" />
      <mass
        value="0.00657378262763664" />
      <inertia
        ixx="5.46548396275853E-07"
        ixy="4.19729537385296E-24"
        ixz="1.34286253854513E-22"
        iyy="5.46548396275853E-07"
        iyz="-1.07439027386358E-23"
        izz="1.07029398406209E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/pole_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/pole_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="pole_joint"
    type="fixed">
    <origin
      xyz="0 0 0.1705"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="pole_link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="up_shell_link">
    <inertial>
      <origin
        xyz="-0.0315368738282728 1.35959383780015E-05 0.104690617879912"
        rpy="0 0 0" />
      <mass
        value="12.2073193122489" />
      <inertia
        ixx="0.197877212417593"
        ixy="2.26852012189753E-05"
        ixz="-0.000255416017912581"
        iyy="0.230725635152107"
        iyz="-2.77873309272919E-06"
        izz="0.423346801636743" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/up_shell_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/up_shell_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="up_shell_joint"
    type="fixed">
    <origin
      xyz="0.0320000000000001 0 0.2655"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="up_shell_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 -9.55395358154788E-18 0.000358152290849761"
        rpy="0 0 0" />
      <mass
        value="0.04345685683984" />
      <inertia
        ixx="9.62182434682205E-06"
        ixy="3.31181369985737E-22"
        ixz="-1.09810176213793E-21"
        iyy="9.85744379584129E-06"
        iyz="1.38737857788138E-21"
        izz="1.29679835130781E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0.02"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.02"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.155 0 0.1855"
      rpy="0 0 3.14" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_2_link">
    <inertial>
      <origin
        xyz="0.000124399806426922 -8.44546897417403E-18 -0.000124399806426895"
        rpy="0 0 0" />
      <mass
        value="0.0381519652811453" />
      <inertia
        ixx="2.39612842680205E-05"
        ixy="-1.02141989031991E-20"
        ixz="-1.60496116422842E-07"
        iyy="2.90337016636915E-06"
        iyz="2.61005640882919E-21"
        izz="2.39612842680205E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/camera_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/camera_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_2_joint"
    type="fixed">
    <origin
      xyz="0.221039844882851 0 0.221610912694716"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="-0.00065518143323752 -5.54786416247958E-17 -0.000852753977875459"
        rpy="0 0 0" />
      <mass
        value="0.025385853403519" />
      <inertia
        ixx="3.65343505659845E-06"
        ixy="1.73064892585256E-23"
        ixz="2.17562603229941E-07"
        iyy="3.58016658204556E-06"
        iyz="-6.45223175811331E-23"
        izz="3.72739982627189E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0.0320000000000001 0 0.2205"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  <link name="F_caster_link">
    <visual name="">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
    <inertial>
    <origin xyz="0 0 0"/>
    <mass value="0.005"/>
    <inertia ixx="8e-7" ixy="0" ixz="0"
             iyy="8e-7" iyz="0"
             izz="8e-7"/>
    </inertial>
  </link>

  <joint name="F_caster_joint" type="fixed">
    <origin xyz="0.2 0.0 -0.0765" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="F_caster_link"/>
  </joint>

  <link name="B_caster_link">
    <visual name="">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.02"/>
      </geometry>
    </collision>
    <inertial>
    <origin xyz="0 0 0"/>
    <mass value="0.005"/>
    <inertia ixx="8e-7" ixy="0" ixz="0"
             iyy="8e-7" iyz="0"
             izz="8e-7"/>
    </inertial>
  </link>

  <joint name="B_caster_joint" type="fixed">
    <origin xyz="-0.2 0.0 -0.0765" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="B_caster_link"/>
  </joint>

  <link
    name="arm_base_link">
    <inertial>
      <origin
        xyz="-0.0273807265561808 -7.06031227712301E-18 2.8796409701215E-16"
        rpy="0 0 0" />
      <mass
        value="0.0597062822264354" />
      <inertia
        ixx="1.58211554015034E-05"
        ixy="-4.5101626828947E-21"
        ixz="1.29090502230351E-19"
        iyy="2.07070076720511E-05"
        iyz="-8.46499923663394E-22"
        izz="2.81593325148159E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_base_joint"
    type="prismatic">
    <origin
      xyz="0.3465 0 -0.0225"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_base_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.12"
      upper="0.12"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_1_link">
    <inertial>
      <origin
        xyz="0.0261658927312355 0.000157728189073534 0.0136705869533062"
        rpy="0 0 0" />
      <mass
        value="0.143863120805872" />
      <inertia
        ixx="0.00013929369315616"
        ixy="4.02464196087577E-07"
        ixz="-7.73862008597437E-06"
        iyy="0.000138547444110567"
        iyz="3.1020297304279E-07"
        izz="4.4079915019592E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_1_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="arm_base_link" />
    <child
      link="arm_1_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_2_link">
    <inertial>
      <origin
        xyz="-0.00400650064635472 -1.69165145031709E-18 0.00288378507587928"
        rpy="0 0 0" />
      <mass
        value="0.186614834092236" />
      <inertia
        ixx="7.73951502401784E-05"
        ixy="1.5126376275167E-19"
        ixz="2.62944863985317E-05"
        iyy="0.000291518640198793"
        iyz="-5.08569345998297E-21"
        izz="0.000326117753261419" />
    </inertial>
    <visual>
      <origin
        xyz="-0.065 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.065 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_2_joint"
    type="revolute">
    <origin
      xyz="0.03 0 0.07"
      rpy="0 0 0" />
    <parent
      link="arm_1_link" />
    <child
      link="arm_2_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_3_link">
    <inertial>
      <origin
        xyz="0.0141761371679842 1.1373922426556E-05 -1.38777878078145E-16"
        rpy="0 0 0" />
      <mass
        value="0.16931961826588" />
      <inertia
        ixx="5.82981981570659E-05"
        ixy="-1.23876709196777E-07"
        ixz="2.40242144446608E-18"
        iyy="0.000244229062877703"
        iyz="2.60742504160622E-21"
        izz="0.000285145425902925" />
    </inertial>
    <visual>
      <origin
        xyz="0.0485 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_3_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0485 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_3_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_3_joint"
    type="revolute">
    <origin
      xyz="-0.118 0 0.0305"
      rpy="0 0 0" />
    <parent
      link="arm_2_link" />
    <child
      link="arm_3_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_4_link">
    <inertial>
      <origin
        xyz="0.006655402671362 7.06585280684803E-05 0"
        rpy="0 0 0" />
      <mass
        value="0.051853364801175" />
      <inertia
        ixx="1.53636862503278E-05"
        ixy="9.0334496707639E-08"
        ixz="-5.817841371112E-23"
        iyy="1.42330562942881E-05"
        iyz="-1.58043860889711E-21"
        izz="2.43099898242421E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0.018 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_4_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.018 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_4_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_4_joint"
    type="revolute">
    <origin
      xyz="0.127 0 0"
      rpy="0 0 0" />
    <parent
      link="arm_3_link" />
    <child
      link="arm_4_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_5_link">
    <inertial>
      <origin
        xyz="-0.000250895542522278 -3.36163946990364E-18 0"
        rpy="0 0 0" />
      <mass
        value="0.0303242029391938" />
      <inertia
        ixx="2.9332845009185E-05"
        ixy="5.88723226197783E-21"
        ixz="1.85691706877901E-21"
        iyy="3.55507135544225E-06"
        iyz="-5.28072857621439E-22"
        izz="2.62584601054423E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_5_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_5_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_5_joint"
    type="revolute">
    <origin
      xyz="0.0555 0 0"
      rpy="0 0 0" />
    <parent
      link="arm_4_link" />
    <child
      link="arm_5_link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="arm_camera_link">
    <inertial>
      <origin
        xyz="-3.16561926480552E-05 -2.11411637106273E-19 0"
        rpy="0 0 0" />
      <mass
        value="0.000379351096233471" />
      <inertia
        ixx="6.4657733598161E-09"
        ixy="1.03828148344728E-23"
        ixz="2.17125679613169E-24"
        iyy="3.51072402384379E-09"
        iyz="-8.33621085320436E-16"
        izz="3.51072617773481E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.498039215686275 0.498039215686275 0.498039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/arm_camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_camera_joint"
    type="fixed">
    <origin
      xyz="0.0035 0 0"
      rpy="0 0 0" />
    <parent
      link="arm_5_link" />
    <child
      link="arm_camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="clamp_right_link">
    <inertial>
      <origin
        xyz="0.025911281481931 0.000210763334473174 1.38777878078145E-17"
        rpy="0 0 0" />
      <mass
        value="0.0138851667711793" />
      <inertia
        ixx="1.0629065871815E-06"
        ixy="-7.57681127560206E-08"
        ixz="-5.61234632939614E-22"
        iyy="4.06335130850685E-06"
        iyz="-2.92484797037949E-23"
        izz="3.2264192079315E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/clamp_right_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/clamp_right_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="clamp_right_joint"
    type="prismatic">
    <origin
      xyz="0.004 -0.01 0"
      rpy="0 0 0" />
    <parent
      link="arm_5_link" />
    <child
      link="clamp_right_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0.025"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="clamp_left_link">
    <inertial>
      <origin
        xyz="0.0259112814819308 -0.000210763334473188 0"
        rpy="0 0 0" />
      <mass
        value="0.0138851667711793" />
      <inertia
        ixx="1.06290658718151E-06"
        ixy="7.57681127560208E-08"
        ixz="-1.14464151644693E-21"
        iyy="4.06335130850685E-06"
        iyz="-9.44805095280538E-22"
        izz="3.2264192079315E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/clamp_leftlink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://car_description/meshes/arm/clamp_leftlink.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="clamp_left_joint"
    type="prismatic">
    <origin
      xyz="0.004 0.01 0"
      rpy="0 0 0" />
    <parent
      link="arm_5_link" />
    <child
      link="clamp_left_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0.025"
      effort="0"
      velocity="0" />
  </joint>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <joint name="L_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="R_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find car_description)/config/controllers.yaml</parameters>
      <!-- 添加话题映射 -->
      <ros>
        <remapping>/diff_drive_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
        <remapping>/diff_drive_controller/odom:=/odom</remapping>
        <remapping>/dynamic_states:=/car/dynamic_states</remapping>
      </ros>
    </plugin>
  </gazebo>

  <gazebo reference="L_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="R_wheel_link">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>

  <gazebo reference="F_caster_link">
    <mu1>0.001</mu1>
    <mu2>0.001</mu2>
  </gazebo>

  <gazebo reference="B_caster_link">
    <mu1>0.001</mu1>
    <mu2>0.001</mu2>
  </gazebo>

  <gazebo reference="laser_link">  <!-- 将 "laser_link" 替换为你的雷达link名称 -->
  <sensor name="laserscan" type="gpu_ray">
    <!-- 基本设置 -->
    <always_on>true</always_on>      <!-- 是否始终开启 -->
    <visualize>true</visualize>      <!-- 在Gazebo中可视化射线 -->
    <update_rate>10</update_rate>    <!-- 更新频率 (Hz) -->
    <pose>0 0 0 0 0 0</pose>         <!-- 传感器相对link的位姿偏移 -->

    <!-- 射线参数 -->
    <ray>
      <!-- 水平扫描参数 -->
      <scan>
        <horizontal>
          <samples>360</samples>        <!-- 采样点数 -->
          <resolution>1.0</resolution>  <!-- 分辨率，通常为1 -->
          <min_angle>0.349</min_angle>    <!-- 起始角度 (rad)，0通常指正前方 -->
          <max_angle>5.934</max_angle><!-- 结束角度 (rad)，2*pi为360度 -->
        </horizontal>
      </scan>
      <!-- 测距范围 -->
      <range>
        <min>0.12</min>  <!-- 最小测量距离 (m) -->
        <max>8.0</max>   <!-- 最大测量距离 (m) -->
        <resolution>0.015</resolution> <!-- 距离分辨率 (m) -->
      </range>
      <!-- 噪声模型 -->
      <noise>
        <type>gaussian</type> <!-- 高斯噪声 -->
        <mean>0.0</mean>       <!-- 均值 -->
        <stddev>0.01</stddev>  <!-- 标准差 -->
      </noise>
    </ray>

    <!-- ROS插件配置 -->
    <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_ray_sensor.so">
      <ros>
        <namespace>/</namespace>                        <!-- ROS命名空间 -->
        <remapping>~/out:=scan</remapping>              <!-- 话题重映射，输出到/scan -->
      </ros>
      <output_type>sensor_msgs/LaserScan</output_type> <!-- 消息类型 -->
      <frame_name>laser_link</frame_name>              <!-- 数据对应的坐标系 -->
    </plugin>

  </sensor>
  </gazebo>
</robot>